<!DOCTYPE>
<html>
    <head>
        <title>@ViewData["Title"]</title>
    </head>
    <header>
        
    </header>
    <body>
        @RenderBody()
    </body>
    <footer>

    </footer>
</html>